<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.open.bible.stories"
	version 	= "1.0.0">

	<name>Open Bible Stories</name>

	<description>
		A visual mini-Bible in text, audio and video formats, in every language of the world.
	</description>

	<author href="http://bob.wadholm.com"
		email="rwadholm@indiana.edu">
		Bob Wadholm
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	
	<access origin="http://wadholm.com" subdomains="true" />
</widget>
